<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="css/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section>
        <div class="sidebar">
            <h1 class="logo">WheelOS</h1>
    
            <ul class="nav">
                <li class="active"><a href="#" onclick="showTable('marked', this)"><i class="fa fa-map-marker" ></i> My Marked Locations</a></li>
                <li ><a href="#" onclick="showTable('bookings', this)"><i class="fa fa-shopping-bag"></i> My Bookings</a></li>
                <li><a href="#" onclick="showTable('history', this)"><i class="fa fa-history "></i> Booking HIstory</a></li>
            </ul>
            <ul class="social">
                <li><a href="{% url 'profileShow' %}" class="logout"><b>Show on map</b></a></li>
            </ul>
            
    
        </div>
        <div class="main">
            
            <div class="head-section">
                <div class="col-6">
                    <h2>Welcome, {{user}}</h2>
                </div>
    
                <div class="col-6" style="text-align: right;">
                    <a href="{% url 'display' %}" class="logout">
                    <button id='p' >
                        Provide
                    </button>
                </a>
                    <a href="{% url 'display' %}" class="logout">
                    <button id='p'>
                        Rent
                    </button>
                </a>
                <a href="{% url 'logout' %}" class="logout">
                    <button id="p" >
Logout
                    </button>
                </a>
                </div>
                <div class="clearfix"></div>
            </div>
    
            <br><br>
            <div class="content">
                <p>All orders</p><br><br>
    
                <table id="marked-locations">
                    <tr>
                      <th scope="col" >Sr. No</th>
                      <th scope="col" >Latitude</th>
                      <th scope="col" >Longitude</th>
                      <th scope="col" >Rate</th>
                      <th scope="col" >Photo</th>   
                      <th scope="col" >Booked by</th>
                      <th scope="col" >Contact</th>
                      <th scope="col" >Status</th>
                      <th scope="col" >Delete</th>
                    </tr>
                    {% for item in myBookings %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.latitude|floatformat:3 }}...</td> 
                        <td>{{ item.longitude|floatformat:3 }}...</td>
                        <td>{{ item.rate }}</td>
                        <td>
                          <div class="image-gallery">
                            <img src="{{ item.photo.url }}" alt="Photo">
                          </div>
                        </td>
                        <td>{% if item.booked_by != "empty" %}{{ item.booked_by }}{% else %}<span style="color: red;">{{ item.booked_by }}</span>{% endif %}</td>
                        <td>{% if item.booked_by != "empty" %}<a href="mailto:{{ item.Booked_email }}">email</a>{% else %}<span style="color: red;">{{ item.booked_by }}</span>{% endif %}</td>
                        {% if item.status == False %}
                        <td><b>Empty</b></td>
                        <td><a href="{% url 'delLocation' item.id %}" class="delete-link">Delete</a></td>
                        {% else %}
                        <td>Booked</td>
                        <td>Already booked</td>
                        {% endif %}
                      </tr>
                    {% endfor %}

                </table>
                <table id="bookings" style="display:none;">
                    <tr>
                      <th>Sr. No</th>
                      <th>Latitude</th>
                      <th>Longitude</th>
                      <th>Rate</th>
                      <th>Photo</th>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Find Way</th>
                      <th>Status</th>
                    </tr>
                    {% for item in booked %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.latitude|floatformat:3 }}...</td>
                        <td>{{ item.longitude|floatformat:3 }}...</td>
                        <td>{{ item.rate }}</td>
                        <td>
                          <div class="image-gallery">
                            <img src="{{ item.photo.url }}" alt="Photo">
                          </div>
                        </td>
                        <td>{{ item.name }}</td>
                        <td><a href="mailto:{{ item.email }}">Contact</a></td>
                        <td><a href="{% url 'find' id=item.id %}">Way</a></td>
                        <td><a href="{% url 'tripOver' id=item.id %}">Click if trip over</a></td>
                      </tr>
                    {% endfor %}
                  </table>
                  <table id="history" style="display:none;">
                    <tr>
                     <th>Sr. No</th>
                     <th>Latitude</th>
                     <th>Longitude</th>
                     <th>Rate</th>
                     <th>Owner</th>
                   </tr>
                   {% for item in past %}
                     <tr>
                       <td>{{ forloop.counter }}</td>
                       <td>{{ item.latitude|floatformat:3 }}...</td> 
                       <td>{{ item.longitude|floatformat:3 }}...</td>
                       <td>{{ item.rate }}</td>
                       <td>{{ item.name }}</td>
                     </tr>
                   {% endfor %}
                   </table>
                
            </div>
    
    
    
        </div>
    </section>
    
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        function showTable(option, button) {
            var markedLocations = document.getElementById("marked-locations");
            var bookings = document.getElementById("bookings");
            var history = document.getElementById("history");
            var mapEarningsSection = document.getElementById("map-earnings-section");
            var h1 = document.getElementById("h1");
            var h2 = document.getElementById("h2");
            var h3 = document.getElementById("h3");
    
            markedLocations.style.display = "none";
            bookings.style.display = "none";
            history.style.display = "none";
            h1.style.display = "none";
            h2.style.display = "none";
            h3.style.display = "none";
    
            var buttons = document.getElementsByClassName("option-btn");
            for (var i = 0; i < buttons.length; i++) {
              buttons[i].classList.remove("active");
            }
    
            if (option === "marked") {
              markedLocations.style.display = "table";
              mapEarningsSection.style.display = "block";
              h1.style.display = "block";
              mapEarningsSection.style.display = "block";
            } else if (option === "bookings") {
              bookings.style.display = "table";
              h2.style.display = "block";
              mapEarningsSection.style.display = "none";
            } else if (option === "history") {
              history.style.display = "table";
              h3.style.display = "block";
              mapEarningsSection.style.display = "none";
            }
    
    
            button.classList.add("active");
          }

    $(document).ready(function(){
      $(".user").click(function(){
        $(".profile-div").toggle(1000);
      });
      $(".hicon:nth-child(1)").click(function(){
        $(".notification-div").toggle(1000);
      });
      $(".sicon").click(function(){
        $(".search").toggle(1000);
      });
    });
    </script>
    
    <script type="text/javascript">
        $('li').click(function(){
        $('li').removeClass("active");
        $(this).addClass("active");
    });
    
    
    
        
    </script>
  
  
</body>
</html>
